@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* ------ navbar css ------ */

.navbar{
    border-radius: 0px !important;
    font-size: 1.8rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    font-family: 'Raleway', sans-serif;
  }
  
  .logo{
    height: 40px;
    margin-top: -10px;
  }
  .location-detect {
    display: flex;
    flex-direction: row;
    height: 35px;
    margin-top: 8px;
  }
  .search-field {
    width: 150px;
    margin-left: 8px;
  }
  
  .navbar-nav > li > form > button {
    margin-left: 8px;
  }
  